<div class="do-auth-wrap">
    <form *ngIf="!_authService.authStatus" class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label class="control-label">Username</label>
        <input name="username" class="form-control" type="text" placeholder="Your Username" formControlName="username" />
        <small *ngIf="registerForm.controls['username'].hasError('required')" class="text-danger">
          Please enter your username
        </small>
      </div>
      <div class="form-group">
          <label class="control-label">Display Name</label>
          <input name="username" class="form-control" type="text" placeholder="Your Display Name" formControlName="displayName" />
          <small *ngIf="registerForm.controls['displayName'].hasError('required')" class="text-danger">
            Please enter your display name
          </small>
        </div>
      <div class="form-group">
          <label class="control-label">Email</label>
          <input name="email" class="form-control" type="text" placeholder="Your Email" formControlName="email" />
          <small *ngIf="registerForm.controls['email'].hasError('required')" class="text-danger">
            Please enter your email
          </small>
        </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input name="password" class="form-control" type="password" placeholder="Your Password" formControlName="password" />
        <small *ngIf="registerForm.controls['password'].hasError('required')" class="text-danger">
            Please enter your password
          </small>
      </div>
      <div class="text-danger text-center"> {{ error }} </div>
      <div class="form-group text-center mt-5">
        <button class="btn btn-lg btn-primary" type="submit" >Register</button>
      </div>
      <div class="form-group text-center">
        <p>You already have an account?
          <a href="#" routerLink="/login">Register Here</a>
        </p>
      </div>

    </form>

    <h4 *ngIf="_authService.authStatus">You are logged in as <span class="text-success"> {{ _authService.activeUser.username }} </span></h4>

  </div>